<div>
  <el-row>
    <el-select v-model="colMax" placeholder="column number">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      >
      </el-option>
    </el-select>
  </el-row>

  <template v-for="(cardList, key) in separateCardList">
    <el-row>
      <template v-for="(card, key) in cardList">

        <el-col :span="cardSpanTable[colMax - 1]" :style="{ margin: '5px 5px' }">
          <screen-shot 
            :card="card"
            :currentDate="currentDate"
          ></screen-shot>
        </el-col>

      </template>
    </el-row>
  </template>
  <detail-card-dialog :currentDate="currentDate"></detail-card-dialog>

</div>
