<div>
  <template v-for="(card, key) in card_list">
    <template  v-if="key + 1 % 3 === 0">
      <el-row>

        <el-col :span="7" :key="card.card_name" :style="{ margin: '5px 5px' }">
          <el-card :body-style="{ padding: '10px' }">
            <img
              @click="openDetailDialog(card)"
              :src="`/assets/screenshot/${card.card_id}.jpg?${currentDate}`"
              width="300px"
              height="150px"
            >
            <div style="padding: 14px;">
              <span>{{ card.card_name }}</span>
            </div>
          </el-card>
        </el-col>

      </el-row>
    </template>

    <template  v-else>
      <el-col :span="7" :key="card.card_name" :style="{ margin: '5px 5px' }">
        <el-card :body-style="{ padding: '10px' }">
          <img
              @click="openDetailDialog(card)"
              :src="`/assets/screenshot/${card.card_id}.jpg?${currentDate}`"
              width="300px"
              height="150px"
          >
          <div style="padding: 14px;">
            <span>{{ card.card_name }}</span>
          </div>
        </el-card>
      </el-col>
    </template>

  </template>

  <detail-card-dialog :currentDate="currentDate"></detail-card-dialog>

</div>
